@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');
/* genareal css */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
*{
    margin: 0;
}

h1{
    font-size: 40px;
    margin: 30px 0;
}
h4{
    font-size: 25px;
    margin-bottom: 10px;
}
p{
    color: gray;
}
/* header */
.header-area{
    background-image: url("images/top-banner.png");
    height: 500px;
    background-repeat: no-repeat;
}
.hiff-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.hiff-width h1 span{
    color: orange;    
}
.hiff-width a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    background: linear-gradient(45deg, #FA9D81, #FE5A3C);
    padding: 10px 25px;
    margin-top: 10px;
    display: inline-block;
    border-radius: 5px;
}
.hiff-width img{
    width: 100%;
}
/* banner */

.banner-area{
    background: url("images/dream-bg.png");
    height: 600px;
    background-repeat: no-repeat;
    background-position: right;
    
}
.hiff-parsein{
    width: 38%;
    float: left;
    margin-left: 5%;
    height: auto;
}
.hiff-parsein img{
    width: 100%;
    height: auto;
}
.hiff-parsein h2{
    margin-bottom: 25px;
    font-size: 30px;
}
.hiff-parsein h5{
    font-size: 23px;
    margin-bottom: 20px;
}
.hiff-parsein a{
    padding: 10px 25px;
    color: white;
    text-decoration: none;
    background: linear-gradient(45deg, #FA9D81, #FE5A3C);
    display: inline-block;
    margin-top: 10px;
    border-radius: 5px;
}
/* about */

.about-area{
    background: url("images/exp-bg.png");
    height: 350px;
    background-repeat: no-repeat;

}
.hiff-about{
    width: 38%;
    margin-left: 6%;
    padding: 40px 25px;
    float: left;
    margin-bottom: 50px;
    box-shadow: 10px 10px 25px black;
    
}
.hiff-about h4{
    color: orange;
    font-size: 20px;
    margin-bottom: 15px;
    margin-top: 15px;
}
#border-1{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, #ff4827, #f3a289);
    border-image-slice: 1;
}
#border-2{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, #1216ff, #0affff);
    border-image-slice: 1;
}
footer p{
    font-size: 18px;
    text-align: center;
    padding: 30px 0;
    box-shadow: 0 0 20px;
    margin-bottom: -10px;

}
/*p{
    color: gray;
}

header
.header-section{
    background-image: url("images/portfolio images/top-banner.png");
    height: 500px;
    background-repeat: no-repeat;
    margin-bottom: 100px;
}
.head-text h1{   
    font-size: 40px;
    text-transform: capitalize;
}
.head-text h1 span{
    color: #F5A91D;
}

.head-text{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.head-text img{
    width: 100%;
}
.head-text a{
    text-decoration: none;
    background-image: linear-gradient(45deg, #faa78b, #ff4d2e);
    padding: 10px 25px;
    border-radius: 5px;
    color: white;
    font-weight: bold;

}

 banner
.banner{
    width: 35%;
    float: left;
    margin-left: 10%;
    
}
.banner img{
    width: 100%;
   
}
.dream{
    background: url("images/portfolio images/dream-bg.png");
    height: 500px;
    background-repeat: no-repeat;
    background-position: right;
}
.banner a{
    padding: 10px 25px;
    text-transform: uppercase;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-image: linear-gradient(45deg, #faa78b, #f33e1e);
    text-decoration: none;
}
.experience{
    background-image: url("images/portfolio images/exp-bg.png");
    height: 400px;
    background-repeat: no-repeat;
    background-position: left;
}

.box-area{
    width: 35%;
    float: left;
    margin-left: 6%;   
    margin-bottom: 50px;
    padding: 20px 35px;
    box-shadow: 10px 10px 40px grey;
}
.box-area h3{
    color: #faa78b;
}
#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(#faa78b, #f33e1e);
    border-image-slice: 1;
}
#full-stac{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, #0004f8, #39e6dd);
    border-image-slice: 1;
}
footer p{
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
}
/*